body{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
#container{
    width: 100%;
    height: 20rem;
    display: flex;  
    flex-wrap: wrap;  
}
.card{
    width: 100%;
    border: 1px solid black;
    text-align: center;
    word-break: break-all;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.card > p{
    width: 100%;
    font-size: x-large;
}
